@page "/second-page"

<h1>This is the second page</h1>

<h2>@this.Title</h2>

<p>@this.Welcome("Tuong")</p>

@functions{
  string Title { get; set; } = "This is the Title Property";

  string Welcome(string name) {
    return $"Welcome {name}";
  }
}