@page "/third-page"
@model ThirdPageModel
@{
  Layout = "_MyLayout";
  ViewData["Title"] = "Third Page";
}

<h1 style="color: green;">This is the third page</h1>

@* By default, Microsoft.AspNetCore.Mvc.RazorPages.Page has ViewData, which can transfer data between Methods *@
<h2>@ViewData["mydata"]</h2>